.board {
  border: 1px solid;
}

.board__box {
  float: left;
  height: 50px;
  width: 50px;
}

.board__box button {
  background-color: transparent;
  border: 1px solid;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.board__box img {
  width: 100%;
}

button::-moz-focus-inner {
  border: none;
}

.clearFix {
  clear: both;
}
