.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-item {
  border: 1px solid;
  border-radius: 5px;
  background-color: aliceblue;
}

.board {
  border: 1px solid;
}

.board__box {
  float: left;
  height: 50px;
  width: 50px;
}

.board__box div {
  background-size: cover;
  border: 1px solid;
  font-size: 32px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.board__box img {
  margin: 15%;
  vertical-align: unset;
  width: 70%;
}

.clearFix {
  clear: both;
}
